p {
  font-family: verdana; /*tipo de letras*/
  text-align: justify; /*alineaci칩n del texto*/
  color: red; /*color de la fuente*/
  font-size: 24 px; /*tama침o de la fuente*/
  font-style: italic; /*estilo */
  font-weight: bold; /* negrito o fuerte*/
}
body {
  background-color: lightblue; /*color de fondo del body*/
} /* color y alineaci칩n de la etiqueta h1*/
h1 {
  color: white;
  font-weight: bold; /* negrito o fuerte*/
  text-align: center; /*alineaci칩n*/
}

.clasePrueba {
  text-align: center;
  font-weight: bold;
  font-style: italic;
  color: black;
}

.pruebaDiv {
  background-color: black;
  color: white;
}
