
body {
 background-color: rgb(214,51,124);
}
h1 {
  color: rgb(255, 255, 255);
  font-weight: bold; 
  text-align: center; 
  font-size: 35px;
}

ul li {
  text-align: justify;
}

.clasePrueba {
  text-align: center;
  font-weight: bold;
  font-style: italic;
  color: rgb(39, 84, 146);
}

.bienvenido{
  margin: 20px;
  padding: 10px;
  font-family: verdana;
  text-align: justify; 
    color: white; 
  font-size: 20px; 
  font-weight: bold;
}

.navbar {
  background-color: rgb(22,7,72) !important;
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  padding-top: 20px !important ;
  padding-left: 5% !important ;
  padding-right: 5% !important;
  font-weight: bold;
}

.navbar-link {
  color: white !important;
  text-decoration: none;
}



.navbar-link:hover {
  color: rgb(214,51,124) !important;
  text-decoration: underline !important;
}

.navbar-item{
  margin-right: 30px !important;
}
.navbar-item:hover{
  margin-right: 30px !important;
  text-decoration: underline !important;
}

.logo{
  background-color: rgb(22,7,72);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-left: 5%;
  padding-right: 5%;
  font-weight: bold;
}
.icono{
  width: 100px;
  height: 100px;
}

.NombreNegocio{
  color:rgb(214,51,124);
  font-size: 50px;
}

.Marca{
  width: 250px;
  height: 70px;
}
.textoFoot{
  color: white;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}


.carousel-inner > .item > img {
  object-fit: scale-down;
  height: 50vh;
  width: 100%;
  padding: 10px;

}

.tarjetaAzul .card {
  border-radius: 15px; 
  background-color:  rgb(22,7,72) ;
}


.carousel-item img {
  border-radius: 10px; 
}


.tarjetaAzul .card-title {
  color: white; 
}

#recienAgregados{
  font-weight: bold;
  color: rgb(22,7,72) !important;
  justify-content: left;
}


.align-left {
  text-align: left; 
}

.linea {
  border: none;
  border-top: 3px solid black; 
  margin-left: 10px; 
}

.card-group{
  margin: 10%;
}

.card.guitarra{
  transition: all 0.3s;
}

.card.guitarra:hover{
  transform: scale(1.04);
}

.card.guitarra .card-text {
  text-align: justify; 
  margin: 5px;
}

.card.guitarra .card-img-top {
    transform: scale(0.9); 
    border-radius: 3%;
}


.filosofiaText {
  margin: 60px 20px 20px 20px;
  padding: 10px;
  font-family: verdana;
  text-align: justify;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-align: justify; 
}

.luthierImagen1 img {
  border-radius: 15px; 
}
.iconos {
  width: 30px; 
  height: 30px; 
}

.iconosRedes{
  width: 30px; 
  height: 30px; 
}
.container-imagen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}
.descripcionSafft{
  text-align: justify;
}


.container-centrado {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card.staffP .card-text{
  text-align: justify; 
  margin: 5px;
}
.card.staffP .card-img-top{
  transform: scale(0.9); 
    border-radius: 50%;
}

.card.staffP .card-title{
  color:rgb(22,7,72) !important;
}

.card.staff .card-text{
  color:rgb(22,7,72) !important;
}

.container-fluid-terminos{
   margin-top: 50px; 
  margin-bottom: 50px; 
  margin-left: 50px; 
  margin-right: 50px; 
}

.luthier-terminos{
  transform: scale(0.7); 
    border-radius: 50%;
    align-items: center;
    
}
.container-fluid-terminos{
  text-align: center;
  color:rgb(22,7,72) !important;
  display: flex;
}
.text-md-left {
  text-align: left !important;
}

.text-info{
  text-align: center;
}

.iconosRedes{
  align-items: center;
}
.container-terminos{
  text-align: justify;
  padding: 7%;
  
}
.metodosPago {
  background-color: white;
}

.card li {
  list-style-type: disc !important;
  margin-bottom: 10px; 
}


.tiuloEnvio{
  color: black;
}

form {
  border: 2px solid #ccc; 
  border-radius: 20px; 
  padding: 20px;
  margin: 5%;
  margin-top: 3px !important;
  margin-right: 50px !important; 
  margin-left: 50px !important; 
}
.page-header{
 padding: 10px;
}
.mapagoogle {
  margin-left: auto;
  margin-right: auto;
  display: block; 
}

.listasRedes{
  list-style-type: none;
  padding:0;
  margin: 0;
  align-items: center;
  text-align: center;
}

.listasRedes li{
display: inline;
margin-right: 30px;
}
.ultima{
  text-align: center;
  margin-top: 20px;
  
}

.custom-logo {
  max-width: 100% !important;
  width: 100px !important; /* Ajusta este valor según tus necesidades */
  height: auto !important; /* Mantiene la proporción de la imagen */
}

#indice{
  justify-content: center;
  text-align: center;
}


.mx-1 mx-md-4.needs-validation {
  height: 500px; /* Adjust the value as needed */
}


#pagina{
  background-color: rgba(208, 205, 219);


  align-items: center !important;

  font-weight: bold !important;
}


#pagina ul.pagination li.page-item {
  background-color: rgba(208, 205, 219, 1) !important;
}

#pagina ul.pagination li.page-item a.page-link {
  background-color: rgba(208, 205, 219, 1) !important;
}


.pagination{

  font-weight: bold !important;
  
  justify-content: center !important;

  margin-right: 20px !important;
  
}
