<!DOCTYPE html>
<html>
  <head>
    <link href="assets/css/miestilo.css" rel="stylesheet" />

    <title>Ejemplo 1</title>
  </head>

  <body>
    <header>
      <h1>PROBANDO LA ETIQUETA HEADER</h1>
    </header>

    <nav>
      <ul>
        <li>principal</li>
        <li>fotos</li>
        <li>videos</li>
        <li>contacto</li>
      </ul>
    </nav>

    <h1>Bienvenidos a Taller de Programación I - (esto es h1)</h1>

    <section>
      <p>Hoy sólo práctico de configuración</p>
      <p>
        Somos una empresa que se dedica a la venta de relojes de mesa y pared
        con diseños únicos e innovadores. Utilizamos materia prima de calidad.
        Elaboramos productos a la medida del cliente.
      </p>
    </section>

    <aside>
      <blockquote>Mensaje número uno</blockquote>
      <blockquote>Mensaje número dos</blockquote>
    </aside>

    <footer>Derechos Reservados &copy; 2010-2011</footer>
  </body>
</html>
